html, body, #root, .room {
    height: 100%;
    margin: 0;
  }


.lit{

background-color: aquamarine;

}
.dark{

    background-color: darkcyan;
}

.bright{
    background-color: white;
}

.blac{

    background-color: black;
}